
*{
    font-family: 'Roboto';
    font-size: 10px;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    width: 100px;
    height: 30px;
    margin-left: 10px;
}
.menu{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.section-1{
    background-color: #1BA4F7;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.titulo{
    margin: 0px;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    margin-left: 20px;
    margin-right: 20px;
    text-align: start;
    justify-content: center;
    
}
.subtitulo{
    color:white;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 2rem;
}
.button{
    width: 80%;
    background-color: rgb(5, 167, 5);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 1em;
    font-weight: bolder;
}
.condiciones{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font: 1em;
    margin-top: 20px;
}
.section-2{
    display: flex;
    flex-direction: column;
}
.premium-dancer{
    display: none;
}
.titulo-2{
    width: 100%;
    font-size: 2em;
    text-align: center;
    font-weight: 900;
}
.ventaja{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}
.imagen-ventajas{
    width: 28%;
    margin-bottom: 10%;
}
.texto{
    width: 100%;
    margin-left: 15%;   
}
.beneficio{
    font-weight: 900;
    font-size: 1.1em;   
}
.beneficio-descrip{
    font-size: 0.9em;  
}

.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;  
}
.footer1 {
    display: flex;
    padding: 40px 0px 0px 0px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.info-li {
    font-size: 1em;
    margin: 1em;
    list-style: none;
    color: gray;   
}
.space{
    position: absolute;
    margin-top: 4em;
}
.footer2{
    
    box-sizing: border-box;
    margin-right: 10px;
}
.texto-bandera{
    color: gray;
    list-style: none;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 0px;

}
.bandera{
   width: 25px;
   box-sizing: border-box;
   margin-left: 10px;
   bottom: -5px;
   position: relative;
}
@media (min-width:1000px ){
    .section-1{
        display: flex;
        align-items: flex-start;
    }
    .titulo{
        font-size: 6em;
        margin-right: 3em;
        margin-left: 30px;
    }
    .subtitulo{
        margin-left: 30px;
    }
    .premium-dancer{
        position: absolute;
        right: 1em;
        display: block;
        width: 43%;
    }
    .button{
        margin-top: 80px;
        width: 150px;
        height: 50px;
        border-radius: 40px;
        margin-left: 2em;
        margin-left: 30px;
        font-size: 14px;
        margin-bottom: 30px;
    }
   .condiciones{
    width: 500px;
    margin-left: 30px;
    font-size: 12px;
   
    
    
   } 
}
